.getStarted {

  margin-top: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  border-radius: 2px;
  padding: 13px 35px;
  cursor: pointer;
}


 #hometext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin-top: 10%;
}


#centertext {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 82px;
  line-height: 76px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  width: 80%;
  max-width: 900px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  #centertext {
    font-size: 48px;
    line-height: 60px;
    width: 90%;
    margin-bottom: 1rem;
  }
}


@media only screen and (max-width: 450) {
  #hometext{
    margin-top: 25%;
  }
}

@media (max-width: 480px) {
  #hometext{
    margin-top: 25%;
  }

}
