#logdetailsHeading {
  font-family: "Inter", Helvetica;
  text-align: left;

  border: none;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#logstyle {
  font-style: italic;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}

#logDetailsAppName {
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter", Helvetica;
  text-align: left;

  border: none;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17px;
}

#tableborder {
  border: 1px solid var(--inner-ash);
}

#logDetailsTimeStamp {
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", Helvetica;
  text-align: left;
  font-style: italic;

  border: none;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17px;
}

#tablebottompadding {
  margin-bottom: 20px;
}
