#tablehead {
  /* font-style: italic; */
  font-weight: 700;
  font-family: "Inter", Helvetica;
  font-size: 16px;
}

.histrytd {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", Helvetica;
  text-align: left;
  background-color: white;
}

#tableheadtd {
  text-align: left;
}

td,
th {
  border-collapse: collapse;
  border-spacing: 0;
}


#logHeading {
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter", Helvetica;
  text-align: left;

  border: none;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}



.histrytd:nth-child(2) {
  border-left: 0px solid rgb(255, 255, 255);
}

#viewbtn {
  cursor: pointer;
  font-weight: 700;
  padding: 2px;
}


th {
  background-color: #fbf6ff;
}

.bottomborder {
  border-bottom: 3px solid #c7b7da;
}

.bottomborders {
  border-bottom: 1px solid #d9d9d9;
}

#actionTabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* CSS code for the SVG icon */
.delete-icon path {
  stroke: #33363f; /* set the initial color of the icon */
}

.delete-icon:hover path {
  stroke: #ec1c1c; /* set the color of the icon on hover */
}
#deleteIcon {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  color: #710cb4;
  padding-top: 3px;
}

 
#viewbtn:hover {
  font-size: 16.5px;
  border-radius: 2px;
  color: #13c333;
}



#viewbtn:active {
  color: #08681d;

}



#viewbtw {
  padding-left: 28px;
}

#historyHR {
  border: none;
  margin-top: 18px;
  margin-bottom: 40px;
  height: 1px;
  background-color: black;
  width: 78vw;

    margin-left: auto;
  margin-right: auto;
}

.logTable {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px solid #d9d9d9;
  text-align: left;
}



@media (max-width: 480px) {
  
#viewbtw {
  padding-left: 8px;
}
 
#documentgif{
  width: 100vw;
  height: 60vh;
}
}


@media (max-width: 400px) {
  

  
  #actionTabs {
    margin-top: 3vh;}
  }