.login-container {
  position: relative;
}

.google-login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

}



.google-logo {
  width: 2.7rem;
  border-radius: 100%;
  
}




@media (max-width: 480px) {
  .google-login-btn {
    padding: 0.4rem;
    
  }
  .google-logo {
    width: 3.4rem;
  }

}


.logoutWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1.3rem;
  position: absolute;
  font-size: 1rem;
  background-color: rgb(0, 191, 209);
  /* top: rem; */
  right: 150px;
}




.Window-btn {
  color: black;
}


#loading{
  color: greenyellow;
}



/* /// */



.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#dp {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  cursor: pointer;
}

.logoutWindow {
  display: flex;
  flex-direction: column;
  color: black;
  padding: .5rem;
  position: absolute;
  font-size: 1rem;
  background-color: rgba(0, 192, 209, 0.658);
  top: 60px;
  right: 18px;
}

.Window-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.Window-btn {
  color: black;
}

@media (max-width: 480px) {
  #dp {
    height: 32px;
    width: 32px;
    margin-bottom: 5px;
  }

  .logoutWindow {
    top: 40px;
  }

  #androidbot {
    margin-top: 81px;
    height: 61vh;
    width: 92vw;
}

}


.getStartedlogin{
  background-color: rgb(0, 0, 0);
color: white;
font-family: "Inter", "Helvetica";
font-size : 16px;
font-weight: 700;
left: 24px;
letter-spacing: 0;
border-radius: 3px;
line-height: normal;
padding: 15px 24px;
cursor: pointer;
}

#profiledpdiv{
  display: grid;
  gap: 35px;
  grid-auto-flow: column;
  align-items: center;
  flex-wrap: wrap;

}


#signIn{
  cursor: pointer;
}