* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "rubik";
}

body {
  /* background-color: #474c54; */
  /* background-color: #24272C; */
  background-color: #ffffff;

  margin: 0px;
  padding: 0px;
}

#headerdiv {
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1b1d21; */
  background-color: #ffffff;

  flex-wrap: wrap;
}

#spacegrid {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  flex-wrap: wrap;
}

#header1 {
  /* display: grid;
  grid-auto-flow: column;
  flex-wrap: wrap; */
  color: black;
  font-family: "Inter";
  line-height: 47px;
  font-size: 32px;
  font-weight: 700;
}

/* #loginbtn {
  background-color: #1b1d21;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid cyan;
  font-size: 1.2rem;
} */

#outerdiv {
  /* background-color: #2D3036; */
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: solid rgb(255, 255, 255) 3px; */
  /* border: dashed 4.5px #ffffff; */
  width: 80%;
  height: 350px;
  padding: 15px;
  border-radius: 30px;

  /*  */
  /* box-shadow: #2DAAE9 0px 4px 100px 18px; */
  /* animation: blink 2s infinite alternate; */
}

@keyframes blink {
  from {
    box-shadow: #2daae9 0px 4px 110px 18px;
  }

  to {
    box-shadow: #ffffff 10px 4px 110px 18px;
  }
}

#largepara {
  font-weight: 1000;
  font-size: 37px;
  /* color: #ffffff; */
  background-color: #ffffff;

  margin: 9px;
}

#smallpara {
  font-size: 25px;
  /* color: rgba(0, 255, 255, 0.931); */
  color: #2daae9;
  margin: 19px;
}

#upbutton {
  font-size: 37px;
  font-weight: bold;

  color: white;
  /* background-color: #000000; */
  background-color: #ffffff;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  border-radius: 100px;
}

#upbutton:active {
  border: 1px solid #2daae9;
}

#uploaddiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#dp {
  border-radius: 100%;
  width: 2.7rem;
}

#dp:hover {
  border: 1px solid #2daae9;
}

input[type="file"] {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

table {
  width: 100%;
  padding: 10px;
  max-width: 93.75rem;
  margin: auto;
  table-layout: fixed;
  /* height: 300px; */
  text-align: center;

  overflow-wrap: break-word;
}

th,
td {
  padding: 1.5rem;
  white-space: normal;
  overflow: visible;
  background-color: #ffffff;
  font-weight: bolder;
}

/* td {
  height: 80px;
} */

td:hover {
  /* white-space: normal; */
  overflow: visible;
  /* text-overflow: ellipsis; */
}

th {
  background-color: #ffffff;
  font-weight: bolder;
}

/* tr:nth-child(even) {
  background-color: #ffffff;
} */

.histd {
  padding: 0px;
}

.allignoptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

tr {
  background-color: #ffffff;
}

#viewopt {
  font-size: larger;
  color: #6e03f6;
}

#viewopt:hover {
  cursor: pointer;
  color: #6932b1;
}

#padadj {
  padding: 10px 0px 0px 0px;
}

.sub-menu-wrap {
  /* position:absolute; */
  top: 100%;
  right: 100%;
  width: 300px;
  overflow: hidden;
}

.sub-menu {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

hr {
  color: #000000;
  height: 55px;
}

@media screen and (max-width: 450px) {
  #headerdiv {
    justify-content: space-around;
  }
  #outerdiv {
    height: 462px;
  }
}

#androidbot {
  margin-top: 5px;
  height: 90vh;
}
