* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
:root {
  --pure-white: #ffffff;
  --pure-black: #000000;
  --highlight-blue: #2daae9;
  --shady-purple: #fbf6ff;
  --lineshade-purple: #c7b7da;
  --shady-ashborder:#d9d9d9;
  --shady-black:#33363f;
  --highlight-red:#ff0000de;
  --hover-green:#13c333;
  --click-green:#08681d;
  --inner-ash:#989898;
  --log-green: #48d87f;
  --log-red: red;
}

body {
  background-color: var(--pure-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

#headerdiv {
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pure-white);
  flex-wrap: wrap;
}

#spacegrid {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  flex-wrap: wrap;
}

#header1 {
  color: var(--pure-black);
  font-family: "Inter";
  line-height: 47px;
  font-size: 32px;
  font-weight: 700;
}

#outerdiv {
  background-color: var(--pure-white);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 350px;
  padding: 15px;
  border-radius: 30px;
}

@keyframes blink {
  from {
    box-shadow: var(--highlight-blue) 0px 4px 110px 18px;
  }

  to {
    box-shadow: var(--pure-white) 10px 4px 110px 18px;
  }
}

#largepara {
  font-weight: 1000;
  font-size: 37px;
  background-color: var(--pure-white);

  margin: 9px;
}

#smallpara {
  font-size: 25px;
  /* color: rgba(0, 255, 255, 0.931); */
  color: var(--highlight-blue);
  margin: 19px;
}

#upbutton {
  font-size: 37px;
  font-weight: bold;

  color: var(--pure-white);
  /* background-color: #000000; */
  background-color: var(--pure-white);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  border-radius: 100px;
}

#upbutton:active {
  border: 1px solid var(--highlight-blue);
}

#uploaddiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#dp {
  border-radius: 100%;
  width: 2.7rem;
}

#logo {
  cursor: pointer;
}

#dp:hover {
  border: 1px solid var(--highlight-blue);
}

input[type="file"] {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

table {
  width: 80vw;
  padding: 10px;
  max-width: 93.75rem;
  margin: auto;
  table-layout: fixed;
  /* height: 300px; */
  text-align: center;

  overflow-wrap: break-word;
}

th,
td {
  padding: 1.5rem;
  white-space: normal;
  overflow: visible;
  background-color: var(--pure-white);
  font-weight: bolder;
}


td:hover {
  overflow: visible;
}

th {
  font-weight: bolder;
}


.histd {
  padding: 0px;
}

.allignoptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

tr {
  background-color: var(--pure-white);
}

#padadj {
  padding: 10px 0px 0px 0px;
}

.sub-menu-wrap {
  top: 100%;
  right: 100%;
  width: 300px;
  overflow: hidden;
}

.sub-menu {
  background-color: var(--pure-white);
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 450px) {
  #headerdiv {
    justify-content: space-around;
  }
  #outerdiv {
    height: 462px;
  }
}

#androidbot {
  margin-top: 5px;
  height: 65vh;
}

.labeltxt {
  font-family: "Inter";
}
table {
  font-family: "Source Code Pro", monospace;
}

.logTable {
  font-family: "Lato", sans-serif;
}

.grideven {
  font-family: "Inter";
  font-weight: 500;
}

.dnd {
  font-family: "Inter";
}

#internetLoading {
  padding-top: 30vh;
  font-size: 18px;
  font-family: "rubik";
}

@keyframes blink {
  100% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}
#analyzing {
  font-size: 18px;
  font-family: "rubik";
}


#toc{
 padding: 14px; 
}




@media (max-width: 540px) {
  #headerdiv {
    justify-content: space-around;
}

}


table{
  border: 1px solid #989898;
  border-collapse: collapse;
  border-spacing: 0;
}


td:nth-child(2) {
  border-left: 1px solid var(--pure-black);
  
}

tr td{
  background-color: #F7F7F7;
  text-align: left;
}


@media (max-width: 1024px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 43%;
  }
}