.login-container {
  position: relative;
}

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.google-logo {
  width: 2.7rem;
  border-radius: 100%;
}

@media (max-width: 480px) {
  .google-login-btn {
    padding: 0.4rem;
  }
  .google-logo {
    width: 3.4rem;
  }
}

.logoutWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1.3rem;
  position: absolute;
  font-size: 1rem;
  background-color: var(--log-green);

  /* background-color: rgb(0, 191, 209); */
  /* top: rem; */
  right: 150px;
}

.Window-btn {
  color: black;
  background-color: var(--pure-white);
  border: 0px;
  margin: 3px;
  font-size: 14px;
}



.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#dp {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  cursor: pointer;
  box-sizing: border-box;
}

.logoutWindow {
  display: flex;
  flex-direction: column;
  color: var(--pure-black);
  padding: 0.5rem;
  position: absolute;
  font-size: 1rem;
  /* background-color: rgba(0, 192, 209, 0.658); */
  top: 60px;
  right: 18px;
}

.Window-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.Window-btn {
  color: black;
  display: flex;
  flex-direction: row;
  background-color: var(--log-green);
}

@media (max-width: 480px) {
  #dp {
    height: 32px;
    width: 32px;
    margin-bottom: 5px;
  }

  .logoutWindow {
    top: 40px;
  }

  #androidbot {
    margin-top: 81px;
    height: 48vh;
    width: 99vw;
  }
}

.getStartedlogin {
  background-color: rgb(0, 0, 0);
  color: var(--pure-white);
  font-family: "Inter", "Helvetica";
  font-size: 18px;
  letter-spacing: 0;
  border-radius: 3px;
  line-height: normal;
  padding: 15px 24px;
  cursor: pointer;
}


.getStartedlogin:hover {
  font-weight: 600;
}
#profiledpdiv {
  display: grid;
  gap: 35px;
  grid-auto-flow: column;
  align-items: center;
  flex-wrap: wrap;
}

#signIn {
  cursor: pointer;
  font-size: 18px;

}

#signIn:hover {
color: var( --highlight-blue);}

#loader1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logoutIcon {
  width: 24px;
  height: 18px;
}

.Window-btn:hover path {
  fill: var(--log-red);
}

.Window-btn:hover {
  color: var(--log-red);
  cursor: pointer;
}
